%html{:lang => "de"}
  %head
    %title EvalMexicansofa
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body

    %nav.navbar.navbar-fixed-top
      .navbar-header
        %a.navbar-brand
          = image_tag('logo.png', height: 25)
      .navbar-collapse.navbar-ex1-collapse
        %ul.nav.navbar-nav.pull-right
          - @cms_site.pages.root.children.published.each do |page|
            %li= link_to page.label, "/#{@cms_site.path}#{page.full_path}"

    .container
      %section{style:'padding-top: 80px'}
        = yield

    = render :partial => 'layouts/footer'

